.container {
  width: 90%;
  margin: 2rem auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.products__card {
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.products__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.products__caption {
  font-size: 24px;
  font-weight: 600;
}

.products__radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 2em;
}

.sizes {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 20px;
}

.sizes__radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.toppings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.toppings__radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

input[type="checkbox"] {
  border: 0px;
  width: 20px;
  height: 20px;
}

.selectedPrice {
  margin-top: -15px;
  font-size: 24px;
  font-weight: 600;
}
