<script setup>
import { ref, watch, computed, toRaw } from 'vue'
import {
  FlexRender,
  useVueTable,
  getCoreRowModel,
  getSortedRowModel,
  getFilteredRowModel,
  getPaginationRowModel
} from '@tanstack/vue-table'
import { matchSorter } from 'match-sorter'
import IconArrowSort from '@/assets/IconArrowSort.vue'

const props = defineProps({
  data: {
    type: Array,
    required: true
  },
  columns: {
    type: Array,
    required: true
  },
  isLoading: {
    type: Boolean,
    required: true
  }
})

const sorting = ref([])
const selectedCategory = ref('All')
const filteredData = ref([])
const search = ref('')
const pageSizes = [10, 20, 50, 100]

watch(selectedCategory, (newValue, oldValue) => {
  if (newValue) {
    filteredData.value = props.data.filter((data) => {
      return data.paymentMethod === newValue
    })
  }
})

const searchMultipleWords = (row, columnId, filterValue) => {
  const rowData = [toRaw(row.original)] // array of data [{a: "a", b: "b"}, {a: "c", b: "d"}]
  const terms = filterValue.split(' ') // keys to search ["a", "b"]
  // match sorter
  const itemPassed = terms.reduceRight((results, term) => {
    const keys = Object.keys(rowData[0]).map((value) => ({
      threshold: matchSorter.rankings.CONTAINS,
      key: value
    }))
    return matchSorter(results, term, { keys })
  }, rowData)
  return !!itemPassed.length
}

const table = useVueTable({
  get data() {
    return selectedCategory.value == 'All' ? props.data : filteredData.value
  },
  columns: props.columns,
  state: {
    get sorting() {
      return sorting.value
    },
    get globalFilter() {
      return search.value
    }
  },
  globalFilterFn: searchMultipleWords,
  getFilteredRowModel: getFilteredRowModel(),
  getCoreRowModel: getCoreRowModel(),
  getSortedRowModel: getSortedRowModel(),
  onSortingChange: (updaterOrValue) => {
    sorting.value =
      typeof updaterOrValue === 'function' ? updaterOrValue(sorting.value) : updaterOrValue
  },
  getPaginationRowModel: getPaginationRowModel()
})

const handleClickSort = (header, $event) => {
  if (header.column.id !== 'action') {
    header.column.getToggleSortingHandler()?.($event)
  }
}

function handlePageSizeChange(e) {
  table.setPageSize(Number(e.target.value))
}

const pagination = computed(() => {
  let current = table.getState().pagination.pageIndex + 1
  let last = table.getPageCount()
  let delta = 1

  if (last === 1) return ['1']

  const left = current - delta
  const right = current + delta + 1
  const range = []

  for (let i = 1; i <= last; i++) {
    if (i == 1 || i == last || (i >= left && i < right)) {
      if (i === left && i > 2) {
        range.push('...')
      }

      if (i === current) {
        range.push('*' + i + '*')
      } else {
        range.push(i.toString())
      }

      if (i === right - 1 && i < last - 1) {
        range.push('...')
      }
    }
  }

  return range
})
</script>

<template>
  <h1 class="text-2xl font-semibold mb-2">Transaction List</h1>
  <div class="grid grid-cols-12 w-9/12 gap-3 items-center">
    <div class="col-span-3">
      <select
        :value="table.getState().pagination.pageSize"
        @change="handlePageSizeChange"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option :key="pageSize" :value="pageSize" v-for="pageSize in pageSizes">
          Show {{ pageSize }}
        </option>
      </select>
    </div>
    <div class="col-span-3">
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          v-model="search"
          type="text"
          id="search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          placeholder="Search Transactions"
        />
      </div>
    </div>
    <div class="col-span-3">
      <select
        id="categories"
        v-model="selectedCategory"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option disabled>Select Payment Method</option>
        <option value="All">All Payment Method</option>
        <option value="Bank Transfer">Bank Transfer</option>
        <option value="E-Wallet">E-Wallet</option>
        <option value="Cash">Cash</option>
        <option value="Credit Card">Credit Card</option>
      </select>
    </div>
    <div class="col-span-3">
      <RouterLink :to="{ name: 'chart' }">
        <button
          class="flex flex-row gap-2 justify-center bg-sky-primary text-white px-4 py-2 rounded-md w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z"
            />
          </svg>
          Statistics
        </button>
      </RouterLink>
    </div>
  </div>

  <table class="table-primary mt-2">
    <thead>
      <tr v-for="headerGroup in table.getHeaderGroups()" :key="headerGroup.id">
        <th
          v-for="header in headerGroup.headers"
          :key="header.id"
          :colSpan="header.colSpan"
          @click="handleClickSort(header, $event)"
        >
          <FlexRender
            v-if="!header.isPlaceholder"
            :render="header.column.columnDef.header"
            :props="header.getContext()"
          />
          <template v-if="header.column.getIsSorted() === 'asc'">
            <IconArrowSort
              class="rotate-180 mx-1 w-5 h-5 inline-block text-white relative -top-1"
            />
          </template>
          <template v-if="header.column.getIsSorted() === 'desc'">
            <IconArrowSort class="mx-1 w-5 h-5 inline-block text-white relative -top-1" />
          </template>
        </th>
      </tr>
    </thead>

    <tbody>
      <template v-if="isLoading">
        <tr v-for="n in 5" :key="n" class="animate-pulse w-full">
          <td v-for="m in 7" :key="m">
            <div class="rounded h-4 w-full bg-gray-200"></div>
          </td>
        </tr>
      </template>
      <template v-else>
        <template v-if="table.getRowModel().rows.length">
          <tr v-for="row in table.getRowModel().rows" :key="row.id">
            <td
              v-for="cell in row.getVisibleCells()"
              :key="cell.id"
              :class="
                cell.column.columnDef.meta?.textAlign
                  ? 'text-' + cell.column.columnDef.meta?.textAlign
                  : 'text-left'
              "
            >
              <slot :name="`col|${cell.column.id}`" :cell="cell" :original="cell.row.original">
                <FlexRender :render="cell.column.columnDef.cell" :props="cell.getContext()" />
              </slot>
            </td>
          </tr>
        </template>
        <template v-else-if="search">
          <tr>
            <td colspan="12" class="text-center text-gray-500 text-sm">
              Data <span class="font-bold">{{ search }}</span> tidak ditemukan
            </td>
          </tr>
        </template>
      </template>
    </tbody>
  </table>
  <div class="mt-3 flex justify-between">
    <div class="text-sm my-3 sm:my-0 text-center sm:text-left">
      1 - {{ table.getState().pagination.pageSize }} of {{ props.data.length }} shown
    </div>
    <ul class="flex items-center">
      <li>
        <button
          class="table-pagination-arrow"
          :disabled="!table.getCanPreviousPage()"
          @click="table.previousPage()"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
        </button>
      </li>
      <li class="flex items-center space-x-1.5 px-3">
        <template v-for="page in pagination" :key="page">
          <!-- active page -->
          <button v-if="page.includes('*')" class="table-pagination-item active">
            {{ page.replace(/\*/g, '') }}
          </button>
          <!-- pagination dots -->
          <span v-else-if="page === '...'" class="font-semibold">...</span>
          <!-- normal page -->
          <button
            v-else
            class="table-pagination-item"
            @click="table.setPageIndex(Number(page) - 1)"
          >
            {{ page }}
          </button>
        </template>
      </li>
      <li>
        <button
          class="table-pagination-arrow"
          @click="table.nextPage()"
          :disabled="!table.getCanNextPage()"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.table-primary {
  @apply w-full text-sm;
}
.table-primary th {
  @apply bg-sky-primary text-white p-3 font-semibold cursor-pointer;
}
.table-primary td {
  @apply p-3;
}
.table-primary,
.table-primary th {
  @apply border border-collapse border-sky-600/50;
}
.table-primary,
.table-primary td {
  @apply border-b border-collapse border-gray-200;
}

.table-pagination-item {
  @apply h-6 w-6 text-sm rounded-full font-semibold;
}
.table-pagination-item.active {
  @apply bg-blue-500 text-white;
}
.table-pagination-arrow {
  @apply flex items-center justify-center text-gray-600;
}
.table-pagination-arrow:disabled {
  @apply text-gray-400;
}
</style>
