<script setup>
const props = defineProps({
  status: {
    type: String,
    required: true
  }
})
</script>

<template>
  <div
    class="rounded-lg py-[3px] flex justify-center"
    :class="[
      {
        'bg-[#c8e6c9] text-[#256029]': props.status == 'Completed',
        'bg-[#ffd8b2] text-[#805b36]': props.status == 'Processing',
        'bg-[#ffcdd2] text-[#c63737]': props.status == 'Cancelled',
        'bg-[#eccfff] text-[#694382]': props.status == 'Pending'
      }
    ]"
  >
    {{ props.status }}
  </div>
</template>
