<script setup>
import { useFormatDate } from '@/utils/useFormatDate'
import { useFormatRupiah } from '@/utils/useFormatRupiah'
import BaseStatus from './BaseStatus.vue'

const props = defineProps({
  showModal: {
    type: Boolean,
    required: true
  },
  data: {
    type: Object,
    required: true
  }
})

const emit = defineEmits(['update'])

function closeModal() {
  emit('update', false)
}
</script>

<template>
  <transition
    name="fade"
    enter-active-class="transition ease-out duration-300"
    enter-from-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    enter-to-class="opacity-100 translate-y-0 sm:scale-100"
    leave-active-class="transition ease-in duration-200"
    leave-from-class="opacity-100 translate-y-0 sm:scale-100"
    leave-to-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  >
    <div
      v-if="props.showModal"
      id="default-modal"
      tabindex="-1"
      aria-hidden="true"
      class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 bg-gray-600 bg-opacity-50 backdrop-blur-sm flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative p-4 w-1/3 max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between px-4 py-3 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Transaction Details</h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              @click="closeModal"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="px-8 py-4 space-y-4 bg-gray-100 flex flex-row justify-between">
            <div>
              <p>
                <span class="font-semibold">{{ props.data.customerName }}</span> ({{
                  props.data.gender
                }})
              </p>
              <p>{{ useFormatDate(props.data.date) }}</p>
            </div>
            <div>
              <p class="font-semibold text-xl">{{ useFormatRupiah(props.data.amount) }}</p>
            </div>
          </div>
          <div class="p-4 md:p-5 space-y-4">
            <div
              class="grid grid-cols-12 gap-4 text-base leading-relaxed text-gray-500 dark:text-gray-400"
            >
              <div class="col-span-5 text-right">Status</div>
              <div class="col-span-7 font-semibold w-28">
                <BaseStatus :status="props.data.status" />
              </div>
            </div>
            <div
              class="grid grid-cols-12 gap-4 text-base leading-relaxed text-gray-500 dark:text-gray-400"
            >
              <div class="col-span-5 text-right">Transaction ID</div>
              <div class="col-span-7 font-semibold">{{ props.data.id }}</div>
            </div>
            <div
              class="grid grid-cols-12 gap-4 text-base leading-relaxed text-gray-500 dark:text-gray-400"
            >
              <div class="col-span-5 text-right">Payment Method</div>
              <div class="col-span-7 font-semibold">{{ props.data.paymentMethod }}</div>
            </div>
            <div
              class="grid grid-cols-12 gap-4 text-base leading-relaxed text-gray-500 dark:text-gray-400"
            >
              <div class="col-span-5 text-right">Location</div>
              <div class="col-span-7 font-semibold">{{ props.data.location }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
