<template>
  <svg viewBox="0 0 21 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <g id="Icon/Navigation/Sort" clip-path="url(#clip0_898_4656)">
      <path id="Vector" d="M6.5625 8.33337L10.7292 12.5L14.8958 8.33337H6.5625Z" />
    </g>
    <defs>
      <clipPath id="clip0_898_4656">
        <rect width="20" height="20" transform="translate(0.728516)" />
      </clipPath>
    </defs>
  </svg>
</template>
