<script setup>
import { onMounted, ref } from 'vue'
import { Chart, DoughnutController, ArcElement, Title, Tooltip, Legend } from 'chart.js'
import { RouterLink } from 'vue-router'

// Register necessary components
Chart.register(DoughnutController, ArcElement, Title, Tooltip, Legend)

const dataByCategory = ref([])

const renderChart = () => {
  const ctx = document.getElementById('myChart')

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Bank Transfer', 'E-Wallet', 'Cash', 'Credit Card'],
      datasets: [
        {
          label: 'Transaction Total',
          data: dataByCategory.value,
          backgroundColor: ['#C3DBFF', '#E1FFC3', '#FFCCCC', '#FFF0A3'],
          borderWidth: 1,
          hoverOffset: 4
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: true, // If u want to set the chart height, make sure this value is false
      plugins: {
        legend: {
          display: true
        }
      }
    }
  })
}

let data = ref([])
let isLoading = ref(true)

const getData = async () => {
  try {
    const response = await fetch(
      'https://gist.githubusercontent.com/Keripis/edd6d60cabf7a9b302cf10eb1d569c28/raw/8dc1f44cd05a79b3518ce1e8c6bbf14fce44bfb5/gistfile1.txt'
    )
    const dataText = await response.text()
    data.value = JSON.parse(dataText)
    getTotalProductsByCategory(JSON.parse(dataText))
  } catch (error) {
    console.log(error)
  } finally {
    isLoading.value = false
  }
}

const getTotalProductsByCategory = (data) => {
  const dataReduced = data.reduce((acc, item) => {
    if (acc[item.paymentMethod]) {
      // Jika kategori sudah ada dalam objek, tambahkan jumlah produk
      acc[item.paymentMethod] += 1
    } else {
      // Jika kategori belum ada dalam objek, inisialisasi dengan jumlah 1
      acc[item.paymentMethod] = 1
    }
    return acc
  }, {})
  const values = Object.values(dataReduced)
  dataByCategory.value = values

  renderChart()
}

onMounted(() => {
  getData()
})
</script>

<template>
  <div class="container mx-auto p-4">
    <div class="bg-white shadow-md p-4 rounded-md">
      <div class="flex flex-row justify-between">
        <h1 class="text-2xl font-semibold">Transaction Statistics</h1>
        <RouterLink :to="{ name: 'home' }">
          <button class="bg-sky-primary text-white px-4 py-2 rounded-lg">
            Back to Transaction List
          </button>
        </RouterLink>
      </div>
      <div class="h-[550px] flex justify-center">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</template>

<style></style>
