<script setup>
import { onMounted, ref } from 'vue'
import { createColumnHelper } from '@tanstack/vue-table'
import { useFormatDate } from '@/utils/useFormatDate'
import { useFormatRupiah } from '@/utils/useFormatRupiah'
import BaseTable from '@/components/BaseTable.vue'
import BaseModal from '@/components/BaseModal.vue'
import BaseStatus from '@/components/BaseStatus.vue'

const columnHelper = createColumnHelper()
const columns = [
  columnHelper.accessor('index', {
    cell: (info) => info.row.index + 1,
    header: 'No',
    meta: {
      textAlign: 'center'
    }
  }),
  columnHelper.accessor('customerName', {
    cell: (info) => info.getValue(),
    header: 'Customer Name'
  }),
  columnHelper.accessor('amount', {
    cell: (info) => useFormatRupiah(info.getValue()),
    header: 'Amount'
  }),
  columnHelper.accessor('paymentMethod', {
    cell: (info) => info.getValue(),
    header: 'Payment Method',
    meta: {
      filterVariant: 'select'
    }
  }),
  columnHelper.accessor('date', {
    cell: (info) => useFormatDate(info.getValue()),
    header: 'Date'
  }),
  // columnHelper.accessor('gender', {
  //   cell: (info) => info.getValue(),
  //   header: 'Gender'
  // }),
  columnHelper.accessor('status', {
    cell: (info) => info.getValue(),
    header: 'Status',
    meta: {
      textAlign: 'center'
    }
  }),
  // columnHelper.accessor('location', {
  //   cell: (info) => info.getValue(),
  //   header: 'Location'
  // }),
  columnHelper.accessor('action', {
    cell: (info) => info.getValue(),
    header: 'Action',
    meta: {
      textAlign: 'center'
    }
  })
]

let data = ref([])
let isLoading = ref(true)
let details = ref()
let showModal = ref(false)

const getData = async () => {
  try {
    const response = await fetch(
      'https://gist.githubusercontent.com/Keripis/edd6d60cabf7a9b302cf10eb1d569c28/raw/8dc1f44cd05a79b3518ce1e8c6bbf14fce44bfb5/gistfile1.txt'
    )
    const dataText = await response.text()
    data.value = JSON.parse(dataText)
  } catch (error) {
    console.log(error)
  } finally {
    isLoading.value = false
  }
}

onMounted(() => {
  getData()
})

const handleShowDetail = (cell) => {
  details.value = cell
  showModal.value = true
}

const closeModal = () => {
  showModal.value = false
}
</script>

<template>
  <main class="container mx-auto py-4 font-poppins">
    <section>
      <div class="grid grid-cols-1 max-w-full overflow-x-auto">
        <BaseTable :data="data" :columns="columns" :is-loading="isLoading">
          <template #col|status="{ cell }">
            <BaseStatus :status="cell.row.original.status" />
          </template>

          <template #col|action="{ cell }">
            <button
              class="bg-transparent border-2 border-blue-600 text-blue-600 bg-white px-4 py-1 rounded-lg"
              @click="handleShowDetail(cell.row.original)"
            >
              Details
            </button>
          </template>
        </BaseTable>
      </div>
    </section>
    <BaseModal :data="details" :show-modal="showModal" @update="closeModal" />
  </main>
</template>
